  <div ng-show='showForm'>
    <h3>We'd Love to Hear From You!</h3>
  </div>

  <div class='wrapper' ng-show='showForm'>
    <div id='form'>
        <p>Your Name: </br>
          <input type='text' maxlength='50' ng-model='name' />
        </p>
        <p>E-mail Address: </br>
          <input type='text' maxlength='50' ng-model='email' />
        </p>
        <p>Subject: </br>
          <input type='text' maxlength='50' ng-model='subject' />
        <p>Message:</p>
          <textarea cols='60'rows='14' ng-model='message'>Enter your message...</textarea>
        </br>
        <button ng-click="addMessage(name, email, subject, message)">Send Message!</button>
    </div>

    <div class='hands'>
      <img class= 'hand-pic' src='https://photos.smugmug.com/Rustico-Warehouse/i-XfgMN38/0/XL/IMG_1126-XL.jpg'>
    </div>
  </div>

  <div ng-hide='showForm'>
    <h3>Thanks for your message {{sender}}!!</h3>
  </div>
