<h3>We'd Love to Hear From You!</h3>

<div class='form'>
<form id='contact' ng-submit="postMessage(message)" action='/complete' method='post'>
  <p id='form'>Your Name: </br>
    <input type='text' name='name' maxlength='50' />
  </p>
  <p id='form'>E-mail Address: </br>
    <input type='email' name='email' maxlength='50' />
  </p>
  <p id='form'>Subject: </br>
    <input type='text' name='subject' maxlength='50' />
  <p id='form'>Message:</p>
    <textarea id='form' name='message' cols='60'rows='14'>Enter your message...</textarea>
  </br>
  <button type='button submit' class='btn' name='send' ui-sref='contact-complete'>Send Message!</button>
</form>
</div>

<div>
  <img class='hands' src='https://photos.smugmug.com/Rustico-Warehouse/i-XfgMN38/0/XL/IMG_1126-XL.jpg'>
</div>
