<div>
  <h3>Welcome to Wendy's Workshop!</h3>
</div>

<img id='beehive' src='./../images/mainlogo.png'>

<div class='home'>
  <div>
    <img class='thread' src='https://photos.smugmug.com/Rustico-Warehouse/i-D2dNsjN/0/XL/IMG_1200-XL.jpg'>
  </div>

  <div class='text'>
    <p>Our workshop is a quick and easy way to find a variety of products at a great deal! We pride ourselves on quality and customer service. Please visit the shop section to find, view, and purchase our products, and visit the contact page if you have any questions. Thanks for stopping by!</p>
    <img id='mainlogo' src='./../images/mainlogo.png'>
  </div>

  <div>
    <img class='chair' src='https://photos.smugmug.com/Rustico-Warehouse/i-PWZkMrL/0/XL/IMG_1105-XL.jpg'>
  </div>
</div>
