<h3>Shop Wendy's Workshop!</h3>

<div class='results' ng-repeat='item in items' ng-show='showError'>
  <div class='result'>
    <!-- <div class='thumbnail center'><img ng-src='{{item.MediumImage[0].URL[0]}}'></div> -->
    <div class='thumbnail center'><img ng-src='{{item.ImageSets[0].ImageSet[0].MediumImage[0].URL[0]}}'></div>
    <div class='title center'>{{item.ItemAttributes[0].Title[0]}}</div>
    <div><a target='_blank' href='{{item.ItemLinks[0].ItemLink[6].URL[0]}}'><img class='shop-now-button center' src='./images/shop-now.png'></a></div>
  </div>
</div>

<h4 ng-hide='showError'>{{error}}</h4>
