<h3>About Wendy's Workshop</h3>

<div>
  <img id='wendy' src='https://photos.smugmug.com/Rustico-Warehouse/i-mBvJzZj/0/XL/IMG_1279-XL.jpg'>
</div>

<div>
  <p id='about'>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras dapibus bibendum mauris, id porta sem consequat eu. Nulla facilisi. Vivamus metus nulla, accumsan sit amet dui ut, aliquet aliquet nisi. Vivamus ultricies feugiat aliquet. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse nisl lorem, viverra ut cursus sit amet, rhoncus sed nibh. Aliquam vel purus ut lectus bibendum egestas. Fusce tempus ante in felis consectetur, quis cursus ipsum semper. Vestibulum at porta nulla, vel tincidunt leo. Suspendisse posuere vestibulum convallis. Quisque aliquam leo ut dui mollis, eget mattis mauris sagittis. Nulla dictum tortor non turpis bibendum, in tristique dui iaculis. In elementum, elit nec rutrum consequat, lacus enim mattis massa, id blandit risus mi sit amet lectus.

Ut condimentum consequat bibendum. Phasellus accumsan ipsum velit, nec viverra metus imperdiet facilisis. Nunc venenatis massa nec massa dignissim, ut cursus velit euismod. Vestibulum et augue a quam finibus sagittis. In accumsan quis sapien quis tincidunt. Integer aliquam maximus dolor, vitae facilisis arcu dapibus vitae. Proin blandit vel ligula et rhoncus. Nunc vitae laoreet leo, quis luctus nunc. Donec volutpat purus quis lectus semper fermentum. Cras finibus sodales vestibulum. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Integer ac sodales sapien, sit amet condimentum lacus. Ut at sem ex. Pellentesque vitae nisl id urna ultrices eleifend sit amet et ex.
  </p>
</div>
