<h3>We'd Love to Hear From You!</h3>

<form id='contact' action='' method='get'>
  <p>Your Name: </br>
    <input type='text' name='name' maxlength='50' />
  </p>
  <p>E-mail Address: </br>
    <input type='text' name='email' maxlength='50' />
  </p>
  <p>Subject: </br>
    <input type='text' name='subject' maxlength='50' />
  <p>Message:</p>
    <textarea name='message' cols='60'rows='14'>Enter your message...</textarea>
  </br>
  <button type=' button submit' class='btn' name='send'>Send Message!</button>
</form>

<div>
  <img class='hands' src='https://photos.smugmug.com/Rustico-Warehouse/i-XfgMN38/0/XL/IMG_1126-XL.jpg'>
</div>
