<div>
  <h3>Welcome to Wendy's Workshop!</h3>
</div>

<div class='home'>
  <div>
    <img class='thread' src='https://photos.smugmug.com/Rustico-Warehouse/i-D2dNsjN/0/XL/IMG_1200-XL.jpg'>
  </div>

  <div>
    <p class='text'>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut in felis rutrum, egestas risus nec, fringilla nisl. Donec sed massa non est dignissim blandit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nam maximus vitae quam vitae mattis. Nulla ornare, felis vitae posuere mollis, nisi orci varius urna, sed molestie est lectus dictum sem. Suspendisse vel accumsan dui. Quisque eu vulputate nunc. Etiam suscipit blandit eros et auctor. Suspendisse sapien lacus, euismod a nibh luctus, commodo vulputate nisl.

      Sed non eleifend libero. Suspendisse sit amet vestibulum felis. Nunc ac tellus velit. Vestibulum non vestibulum ipsum. Suspendisse gravida arcu ut purus venenatis molestie. Sed venenatis justo at ipsum tincidunt, ac tristique dui iaculis. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
      Sed non eleifend libero. Suspendisse sit amet vestibulum felis. Nunc ac tellus velit. Vestibulum non vestibulum ipsum. Suspendisse gravida arcu ut purus venenatis molestie. Sed venenatis justo at ipsum tincidunt, ac tristique dui iaculis. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
      Sed non eleifend libero. Suspendisse sit amet vestibulum felis. Nunc ac tellus velit. Vestibulum non vestibulum ipsum. Suspendisse gravida arcu ut purus venenatis molestie. Sed venenatis justo at ipsum tincidunt, ac tristique dui iaculis. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
    </p>
  </div>

  <div>
    <img class='chair' src='https://photos.smugmug.com/Rustico-Warehouse/i-PWZkMrL/0/XL/IMG_1105-XL.jpg'>
  </div>
</div>
