* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: white;
  padding: 0;
  margin: 0;
}

h2 {
  margin: 0px;
}

nav {
  background-color: rgb(236, 236, 236);
  height: 42px;
  width: 100%;
  margin: 0px;
  top:0;
  padding-top: 9px;
  position: fixed;
}

li {
  font-family: 'Roboto Condensed', sans-serif;
  color: rgb(122, 118, 119);
  display: inline;
  list-style: none;
  text-decoration: none;
  margin-left: 55px;
  margin-top: 50px;
  font-size: 16px;
}

.thread {
  width: 25%;
  margin-top: 40px;
  margin-left: 4%;
  float: left;
}

.chair {
  width: 25%;
  margin-top: 40px;
  margin-right: 4%;
  /*margin-left: 4%;*/
  float: right;
  margin-bottom: 45px;
}

.text{
  width: 32%;
  float: left;
  margin-top: 75px;
  margin-left: 4.5%;
  margin-right: 3%;
  font-size: 20px;
  text-align: center;
}

.welcome {
float: left;
display: inline-block;;
}

.hands {
  float:right;
  margin-right: 10%;
  width: 45%;
  margin-top: 45px;
  padding-left: 1%;
}

#contact {
  float: left;
  width: 30%;
  margin-top: 50px;
  margin-left: 10%;
}

#wendy {
  width: 45%;
  margin-left: 4%;
  margin-top: 50px;
  float: left;
  margin-right: 30px;
  margin-bottom: 45px;
}

h3 {
  text-align: center;
  margin-top: 75px;
  font-size: 40px;
  font-family: 'Slabo 27px', serif;
}

footer {
  background-color: rgb(236, 236, 236);
  height: 42px;
  width: 100%;
  bottom: 0;
  position: relative;
  clear: both;
  margin-top: 15px;
  padding-top: 13px;
  padding-left: 15px;
  font-size: 12px;
}

#about {
  float: left;
  width: 47%;
  margin-top: 50px;
  font-size: 20px;
}

#copyright {
  font-family: 'Roboto Condensed', sans-serif;
  color: rgb(122, 118, 119);
  display: inline;
  float: left;
}

#icons {
  margin-right: 5%;
}

i {
  float: right;
  display: inline;
  margin-right: 2%;
}

#form {
  font-family: 'Slabo 27px', serif;
}

/*.form {
  width: 45%;
  margin-left: 5%;
  margin-right: 5%;
}*/

.btn {
  margin-bottom: 45px;
}

input {
  width: 375px;
}

#mainlogo {
  width: 90%;
  /*float: left;*/
  margin-top: 85px;
  margin-left: 4.5%;
  margin-right: 3%;
}
