* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: white;
  padding: 0;
  margin: 0;
}

h2 {
  margin: 0px;
}

nav {
  background-color: rgb(236, 236, 236);
  height: 42px;
  width: 100%;
  margin: 0px;
  top:0;
  padding-top: 9px;
  position: fixed;
}

li {
  font-family: 'Roboto Condensed', sans-serif;
  color: rgb(122, 118, 119);
  display: inline;
  list-style: none;
  text-decoration: none;
  margin-left: 55px;
  margin-top: 50px;
  font-size: 16px;
}

.thread {
  width: 25%;
  margin-top: 40px;
  margin-left: 4%;
  float: left;
}

.chair {
  width: 25%;
  margin-top: 40px;
  margin-right: 4%;
  float: right;
  margin-bottom: 45px;
}

.text{
  width: 32%;
  float: left;
  margin-top: 75px;
  margin-left: 4.5%;
  margin-right: 3%;
  font-size: 20px;
  text-align: center;
}

.welcome {
  float: left;
  display: inline-block;
}

#wendy {
  width: 45%;
  margin-left: 4%;
  margin-top: 50px;
  float: left;
  margin-right: 30px;
  margin-bottom: 45px;
}

#about {
  float: left;
  width: 47%;
  height: 270px;
  margin-top: 60px;
  font-size: 18px;
  overflow: scroll;
}

h3 {
  text-align: center;
  margin-top: 75px;
  font-size: 40px;
  font-family: 'Slabo 27px', serif;
  margin-left: 48px;
  margin-right: 48px;
}

h4 {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
  font-size: 24px;
  font-family: 'Slabo 27px', serif;
}

footer {
  background-color: rgb(236, 236, 236);
  height: 42px;
  width: 100%;
  bottom: 0;
  position: relative;
  clear: both;
  margin-top: 15px;
  padding-top: 13px;
  padding-left: 15px;
  font-size: 12px;
}

#copyright {
  font-family: 'Roboto Condensed', sans-serif;
  color: rgb(122, 118, 119);
  display: inline;
  float: left;
}

.icons {
  margin-right: 5%;
  display: inline-flex;
  flex-direction: row;
  float: right;
  margin-top: 0;
}

i {
  float: right;
  display: inline-flex;
  margin-right: 2%;
}

.hands {
  width: 30%;
  margin-top: 85px;
  margin-right: 10%;
}

.hand-pic {
  width: 100%;
}

#form {
  font-family: 'Slabo 27px', serif;
  margin-right: 10%;
  margin-left: 10%;
  width: 40%;
}

.contact {
  float: left;
  width: 100%;
  margin-top: 50px;
}

.btn {
  margin-bottom: 45px;
}

input {
  width: 375px;
}

#mainlogo {
  width: 90%;
  margin-top: 10%;
  margin-left: 4.5%;
  margin-right: 3%;
}

button:focus {
  outline: none;
}

.searchbutton {
  font-family: 'Roboto Condensed', sans-serif;
  background-color: white;
  color: rgb(122, 118, 119);
  display: inline;
  list-style: none;
  text-decoration: none;
  float: right;
  width: 25px;
  margin-right: 3%;
  margin-left: 15px;
  border-radius: 8px;
  border: 2px solid rgb(211, 211, 211);
  width: 50px;
}

.searchbutton:hover {
  background-color: rgb(211, 211, 211);
}

.searchbutton:active {
  background-color: white;
}

.searchbar {
  font-family: 'Roboto Condensed', sans-serif;
  color: rgb(122, 118, 119);
  display: inline;
  list-style: none;
  text-decoration: none;
  margin-top: -2px;
  margin-left: 1px;
  font-size: 16px;
  float: right;
}

.searcher {
  display: inline-flex;
  float: right;
  margin-right: 4%;
}

ul {
  display: inline-block;
}

.thumbnail {
  margin: auto;
  border-style: none;
  height: 200px;
}

.title {
  text-align: center;
  height: 15%;
  margin: auto;
  width: 50%;
  margin-top: 3%;
  overflow: scroll;
}

.shop-now-button {
  width: 150px;
  margin: auto;
  margin-top: 3%;
}

.center {
  display: flex;
  justify-content: center;
}

.wrapper {
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.results {
  display: flex;
  justify-content: center;
  width: 40%;
  margin-left: 5%;
  margin-right: 5%;
  height: 400px;
  flex-direction: row;
  float: left;
  flex-wrap: wrap;
  margin-top: 30px;
}

.subscribe-form {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  display: flex;
  flex-direction: column;
  font-family: 'Slabo 27px', serif;
}

.subscribe-button {
  border-radius: 8px;
  border: 2px solid rgb(211, 211, 211);
  width: 150px;
  background-color: white;
}

.subscribe-button:hover {
  background-color: rgb(211, 211, 211);
}

.send-message-button {
  background-color: white;
  width: 379px;
  padding: 5px 25px;
  border-radius: 8px;
  border: 2px solid rgb(211, 211, 211);
}

.send-message-button:hover {
  background-color: rgb(211, 211, 211);
}

#beehive {
  display: none;
}

@media all and (min-width: 940px) and (max-width: 1224px) {
  #mainlogo {
    width: 80%;
    margin-top: 8%;
    margin-left: 4.5%;
    margin-right: 3%;
  }
  .text{
    width: 32%;
    float: left;
    margin-top: 50px;
    margin-left: 4.5%;
    margin-right: 3%;
    font-size: 16px;
    text-align: center;
  }
}

@media all and (min-width: 0px) and (max-width: 939px){
  .hands {
    display: none;
  }
  #form {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .contact {
    margin: 0;
    text-align: center;
  }
  #wendy {
    width: 80%;
    margin-left: 10%;
    margin-top: 5%;
    float: left;
    margin-right: 10%;
  }
  #about {
    float: left;
    width: 80%;
    margin: auto;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 16px;
    text-align: center;
    height: 220px;
  }
  .results {
    display: flex;
    justify-content: center;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    height: 400px;
    flex-direction: row;
    float: left;
    flex-wrap: wrap;
    margin-top: 30px;
  }
  .searchbar {
    font-family: 'Roboto Condensed', sans-serif;
    color: rgb(122, 118, 119);
    display: inline;
    list-style: none;
    text-decoration: none;
    margin-top: -2px;
    margin-left: 1px;
    font-size: 16px;
    float: right;
    width: 145px;
  }
  li {
    font-family: 'Roboto Condensed', sans-serif;
    color: rgb(122, 118, 119);
    display: inline;
    list-style: none;
    text-decoration: none;
    margin-left: 12%;
    margin-top: 50px;
    font-size: 16px;
  }
  .icons {
    margin-left: 10px;;
    float: left;
    display: inline-flex;
    margin-right: 1%;
    flex-direction: row;
    font-size: 12px;
  }
  .wrapper {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
  }
  input {
    width: 80%;
  }
  .send-message-button {
    width: 50%;
  }
  #mainlogo {
    width: 75%;
    margin-top: 5%;
    margin-left: 4.5%;
    margin-right: 3%;
  }
  .text{
    width: 32%;
    float: left;
    margin-top: 50px;
    margin-left: 4.5%;
    margin-right: 3%;
    font-size: 14px;
    text-align: center;
  }
}

@media all and (min-width: 0px) and (max-width: 800px) {
  .chair {
    display: none;
  }
  #mainlogo {
    width: 50%;
    margin-top: 4%;
    margin-left: 4.5%;
    margin-right: 3%;
  }
  .text{
    width: 60%;
    float: left;
    margin-top: 45px;
    margin-left: 4.5%;
    margin-right: 3%;
    font-size: 13px;
    text-align: center;
  }
  .thread {
    width: 25%;
    margin-top: 40px;
    margin-left: 4%;
    float: left;
    margin-bottom: 20px;
  }
}

@media all and (min-width: 0px) and (max-width: 570px) {
  #mainlogo {
    display: none;
  }
  .text{
    width: 60%;
    float: left;
    margin-top: 45px;
    margin-left: 4.5%;
    margin-right: 3%;
    font-size: 14px;
    text-align: center;
  }
  #beehive {
    display: block;
    width: 50%;
    margin-top: 8%;
    margin: auto;
    text-align: center;
  }
  nav {
    background-color: rgb(236, 236, 236);
    height: 75px;
    width: 100%;
    margin: 0px;
    top:0;
    padding-top: 9px;
    position: fixed;
  }
    .searcher {
    display: inline-flex;
    float: none;
    margin-left: 28%;
  }
  li {
    display: inline;
    text-align: center;
  }
  .tiny-nav{
    margin-top: inherit;
    margin-left: 20px;;
}
